<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pet Care</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel='shortcut icon' type='image/x-icon' href='/images/header-bg.png'/>
</head>

<body>
   
    <nav>
        <section class="logo">
            <img src="/images/logo.png" alt="logo">
        </section>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/create">Create Postcard</a></li>
        </ul>
    </nav>
    
    <main>
        {{{body}}}
    </main>

    <footer>Pet Care 2022©</footer>
</body>
</html>
