<section id="dashboard">
    <h2 class="dashboard-title">Services for every animal</h2>
    <div class="animals-dashboard">
        {{#each animalsDb}}    
            {{>animals}}
        {{/each}}
    </div>
</section>