<div class="animals-board">
    <article class="service-img">
        <img class="animal-image-cover" src={{imgUrl}}>
    </article>
    <h2 class="name">{{name}}</h2>
    <h3 class="breed">{{breed}}</h3>
    <div class="action">
        <a class="btn" href="/details/{{id}}">Details</a>
    </div>
</div>
